@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html body{
   height: 100%;
    font-family: 'Montserrat', sans-serif;
}
*{
  font-family: 'Montserrat', sans-serif;
}
.navbar-brand img {
    width: 40px;
}
.nav-item a:hover {
    color: #f03c3c !important;
}

.banner {
/*    text-align: center;*/
    width: 80%;
    height: 70%;
    top: 15vw;
    left: 10vw;
    position: absolute;
    color: #fff;
}
.app-text h1{
    font-weight: 500;
    font-size: 43px;
    width: 640px;
    position: absolute;
    left: 27.5vw;
    top: 0vh;
    color: black;
}
.app-text .bio{

    font-size: 18px;
    line-height: 20px;
    color: black;
    left: 27.5vw;
    top: 10vh;
    position: absolute;
}

.button {
    color: #f03c3c;
    z-index: 20;
}

.profile-pic {
    position: relative;
    top: 0vh;
    left: 5vw;
}
.img-responsive {
    border-radius: 15px;
    width: 25%;
    height: auto;
}
.img-responsive-2 {
    width: 50%
    visibility: hidden;
}
#Capa_1 {
    width: 100px;
    position: absolute;
    left: 47vw;
    top: 24vh;
    display: block;
}
.glasses {
    fill-opacity: 10%;
    stroke: #f03c3c;
    stroke-width: 1px;
    stroke-dashoffset: 0;
    stroke-dasharray: 2000;
}
.glasses {
    animation: man 6s ease-in-out;
}
@keyframes man
{
    0%
    {
        stroke-dashoffset: 2000;
    }
    100%
    {
        stroke-dashoffset: 0;
    }
}

/*------------Social Media-----------------_*/
/*
.sm {
    position: sticky;

}
*/
/*
.sm {
    position: fixed;
    top: 27vh;
    height: auto;
    width: auto;

}
*/
.sm ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: 60vh;
    left: 43vw;
/*
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
*/
/*    display: flex;*/
/*    margin: 0 auto;*/
}
.sm ul li a {
    text-decoration: none;
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: black;
    color: white;
    margin: 25px;
    border-radius: 0;

    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 30px;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px #434343;
}
.sm ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #141414;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg)
}
.sm ul li a:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #141414;
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg)
}

.sm a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px #000;
}
.sm ul li:hover:nth-child(1) a{
    background: #2b6910;
}
.sm ul li:hover:nth-child(1) a:before {
    background:#1e480b;
}
.sm ul li:hover:nth-child(1) a:after {
    background:#1e480b;
}
.sm ul li:hover:nth-child(2) a {
    background:#3b5999;
}
.sm ul li:hover:nth-child(2) a:before {
    background:#2e4a86;
}
.sm ul li:hover:nth-child(2) a:after {
    background:#2e4a86;
}
.sm ul li:hover:nth-child(3) a {
    background:#b23121;
}
.sm ul li:hover:nth-child(3) a:before {
    background:#a02b1c;
}
.sm ul li:hover:nth-child(3) a:after {
    background:#a02b1c;
}
.sm ul li:hover:nth-child(4) a{
    background: #007bb5;
}
.sm ul li:hover:nth-child(4) a:before {
    background:#036aa0;
}
.sm ul li:hover:nth-child(4) a:after {
    background:#0d82bf;
}
.sm ul li:hover:nth-child(5) a{
    background: #2b6910;
}
.sm ul li:hover:nth-child(5) a:before {
    background:#1e480b;
}
.sm ul li:hover:nth-child(5) a:after {
    background:#1e480b;
}
@media (max-width:982px) {
    .app-text h1{
        font-size: 43px;
        width: 640px;
        position: absolute;
        left: 27.5vw;
        top: 0vh;
        color: black;
    }
    .app-text .bio{
        font-size: 18px;
        line-height: 20px;
        color: black;
        left: 27.5vw;
        top: 10vh;
        position: absolute;
    }
    .profile-pic {
        position: relative;
        top: 0vh;
        left: -8vw;
    }
    .profile-pic img {
        border-radius: 15px;
        width: 40%;
        height: auto;
    }
    .sm ul {
        display: flex;
        flex-direction: row;
        border-radius: 50px;
    }

    .sm ul li a {
        border-radius: 50px;
        text-decoration: none;
        display: inline-flex;
        width: 45px;
        height: 45px;
        background: black;
        color: white;
        margin: 25px;
        border-radius: 50px;
        transform: perspective(1000px) rotate(0deg) skew(0deg) translate(0,0);
        position: relative;
        left: -12vw;
        top: -15vh;
        justify-content: center;
        align-items: center;
        transition: 0s;
        font-size: 30px;
        box-shadow: 0px 0px 0px #434343;
    }
    .sm ul li a:before {
        content: '';
        position: absolute;
        top: 10px;
        left: -20px;
        height: 100%;
        width: 20px;
        visibility:hidden;
        transition: 0s;
        transform: rotate(0deg) skewY(0deg)
    }

    .sm ul li a:after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        visibility: hidden;
        width: 100%;
        background: white;
        transition: 0;
        transform: rotate(0deg) skewX(0deg)

    }
    .sm a:hover{
        transform: perspective(1000px) rotate(0deg) skew(0deg) translate(0px, 0px);
        box-shadow: 0px 0px 0px #000;
    }
}
@media (max-width:724px) {
    .app-text h1{
        font-size: 43px;
        width: 640px;
        position: absolute;
        left: 27.5vw;
        top: 0vh;
        color: black;
    }
    .app-text .bio{
        font-size: 18px;
        line-height: 20px;
        color: black;
        left: 27.5vw;
        top: 10vh;
        position: absolute;
    }
    .profile-pic {
        position: relative;
        top: 0vh;
        left: -8vw;
    }
    .profile-pic img {
        border-radius: 15px;
        width: 40%;
        height: auto;
    }
    .sm ul {
        display: flex;
        flex-direction: row;
        border-radius: 50px;
    }

    .sm ul li a {
        border-radius: 50px;
        text-decoration: none;
        display: inline-flex;
        width: 45px;
        height: 45px;
        background: black;
        color: white;
        margin: 25px;
        border-radius: 50px;
        transform: perspective(1000px) rotate(0deg) skew(0deg) translate(0,0);
        position: relative;
        left: -12vw;
        top: -5vh;
        justify-content: center;
        align-items: center;
        transition: 0s;
        font-size: 30px;
        box-shadow: 0px 0px 0px #434343;
    }
    .sm ul li a:before {
        content: '';
        position: absolute;
        top: 10px;
        left: -20px;
        height: 100%;
        width: 20px;
        visibility:hidden;
        transition: 0s;
        transform: rotate(0deg) skewY(0deg)
    }

    .sm ul li a:after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        visibility: hidden;
        width: 100%;
        background: white;
        transition: 0;
        transform: rotate(0deg) skewX(0deg)

    }
    .sm a:hover{
        transform: perspective(1000px) rotate(0deg) skew(0deg) translate(0px, 0px);
        box-shadow: 0px 0px 0px #000;
    }
}
@media (max-width:375px) {
    .app-text h1{
        font-size: 38px;
        width: 640px;
        position: absolute;
        left: 24vw;
        top: 30vh;
        color: black;
    }
    .app-text .bio{
        font-size: 18px;
        line-height: 20px;
        color: black;
        left: 15vw;
        top: 40vh;
        position: absolute;
    }
    .profile-pic {
        position: relative;
        top: 5vh;
        left: 27.5vw;

    }
/*
    .profile-pic img {
        border-radius: 15px;
        width: 40%;
        height: auto;
    }
*/
    .img-responsive {
        border-radius: 15px;
        width: 25%;
        height: auto;
        visibility: hidden;
}
    .img-responsive-2 {
        width: 70%;
        visibility: visible;
        position: absolute;
        right: 50vw;
        top: 5vh;
    }
    .sm ul {
        display: flex;
        flex-direction: row;
        border-radius: 30px;
    }

    .sm ul li a {
        border-radius: 50px;
        text-decoration: none;
        display: inline-flex;
        width: 40px;
        height: 40px;
        background: #f03c3c;
        color: white;
        margin: 25px;
        border-radius: 50px;
        transform: perspective(1000px) rotate(0deg) skew(0deg) translate(0,0);
        position: relative;
        left: -55vw;
        top: -40vh;
/*
        justify-content: center;
        align-items: center;
*/
        transition: 0s;
        font-size: 30px;
        box-shadow: 0px 0px 0px #434343;
    }
    .sm ul li a:before {
        content: '';
        position: absolute;
        top: 10px;
        left: -20px;
        height: 100%;
        width: 20px;
        visibility:hidden;
        transition: 0s;
        transform: rotate(0deg) skewY(0deg)
    }

    .sm ul li a:after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        visibility: hidden;
        width: 100%;
        background: white;
        transition: 0;
        transform: rotate(0deg) skewX(0deg)

    }
    .sm a:hover{
        transform: perspective(1000px) rotate(0deg) skew(0deg) translate(0px, 0px);
        box-shadow: 0px 0px 0px #000;
    }
    #Capa_1 {
        visibility: hidden;
    }
}
