@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html body{
   height: 100%;
    font-family: 'Poppins';
}
*{
  font-family: 'Poppins';
}
.navbar-brand img {
    width: 40px;
}

.banner {
/*    text-align: center;*/
    width: 80%;
    height: 70%;
    top: 15vw;
    left: 10vw;
    position: absolute;
    color: #fff;
}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: absolute;
    left: 27.5vw;
    top: 0vh;
    color: black;
}
.app-text .bio{

    font-size: 18px;
    line-height: 20px;
    color: black;
    left: 27.5vw;
    top: 10vh;
    position: absolute;
}

.app-text a:hover {
    color: red;
}

.profile-pic {
    position: relative;
    top: 0vh;
    left: 5vw;
}
.profile-pic img {
    border-radius: 15px;
    width: 25%;
    height: auto;
}

/*------------Social Media-----------------_*/
.sm ul {
    list-style: none;
    position: absolute;
    left:44vw;
    bottom: 25vh;
    display: flex;
    margin: 0 auto;
}
.sm ul li a {
    text-decoration: none;
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: black;
    color: white;
    margin: 25px;
    border-radius: 0;

    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 30px;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    transition: 0.5s;
    box-shadow: -20px 20px 10px #434343;
}
.sm ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #1f1f1f;
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg)
}
.sm ul li a:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #1f1f1f;
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg)
}

.sm a:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 50px 50px #000;
}
.sm ul li:hover:nth-child(1) a{
    background: #2b6910;
}
.sm ul li:hover:nth-child(1) a:before {
    background:#1e480b;
}
.sm ul li:hover:nth-child(1) a:after {
    background:#1e480b;
}
.sm ul li:hover:nth-child(2) a {
    background:#3b5999;
}
.sm ul li:hover:nth-child(2) a:before {
    background:#2e4a86;
}
.sm ul li:hover:nth-child(2) a:after {
    background:#2e4a86;
}
.sm ul li:hover:nth-child(3) a {
    background:#b23121;
}
.sm ul li:hover:nth-child(3) a:before {
    background:#a02b1c;
}
.sm ul li:hover:nth-child(3) a:after {
    background:#a02b1c;
}
.sm ul li:hover:nth-child(4) a{
    background: #007bb5;
}
.sm ul li:hover:nth-child(4) a:before {
    background:#036aa0;
}
.sm ul li:hover:nth-child(4) a:after {
    background:#0d82bf;
}
.sm ul li:hover:nth-child(5) a{
    background: #2b6910;
}
.sm ul li:hover:nth-child(5) a:before {
    background:#1e480b;
}
.sm ul li:hover:nth-child(5) a:after {
    background:#1e480b;
}
